html {
	height: 100%;
}


body {
	height: 15%;
	width: 100%;
	margin: 0;
	
	header {
		height: 15%;
		width: 100%;
		margin: 0;
		background: image_url("maingokis/index/header/headerimg.png") repeat center center / 200px 200px;
		display: flex;
		flex-wrap: wrap;

		h2 {
			text-align: center;
			text-shadow: 10px 20px 30px purple;
			margin: 0 auto;
			font-size: 80px;
			font-familiy: "Homemade Apple", cursive;
			padding-Top: 20px;
		}
	}



	main {
		height: 73%;
		background-image: image_url("maingokis/index/mainbg/grass.png");
		font-size: 40px;
		border-width: 0px;
		text-shadow: 10px 20px 30px red;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: darkred;
	}



	footer {
		height: 12%;
		background: image_url("maingokis/index/footer/footerimg.png") repeat center center / 200px 200px;

		a {
			font-size: 40px;
			color: black;
			text-shadow: 10px 20px 30px red;
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: darkred;
		}
	}
}
