// Place all the styles related to the gokicollections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	width: 100%;
	
	header {
		height: 15%;
		width: 100%;
		background: image_url("maingokis/index/header/headerimg.png") repeat center center / 200px 200px;
		display: flex;
		flex-wrap: wrap;

		h1 {
			color: black;
			text-shadow: 10px 20px 30px purple;
			font-size: 80px;
			text-align: center;
			margin: 0 auto;
			font-familiy: "Homemade Apple", cursive;
			padding-Top: 20px;
		}

		#logoutbutton {
			padding: 10px;
		}
	}


	.indexform{
		margin: 0 auto;
		width: 100%;
		height: 85%;
	}

	
	
	#indexmain{
		height: 85%;
	}
	main {
		height: 73%;
		width: 100%;
		border-top: solid 5px black;
		border-bottom: solid 5px black;

		.collection {
			display: -webkit-flex;
			display: flex;
			flex-wrap: wrap;
			-webkit-justify-content: space-around;
			justify-content: space-around;
			background-color: black;
			height: 100%;
			width: 100%;

			.cell {
				width: 33%;
				height: 33%;
				border-bottom: solid 6px black;

				.cell_top {
					width: 100%;
					height: 63%;
					border: solid 1px black;
					background: image_url("maingokis/index/mainbg/grass.png") repeat center center / 500px 320px;
					display:  flex;
					justify-content: space-around;
				}
				.cell_buttom {
					width: 100%;
					height: 37%;
					border: solid 1px black;
					background: image_url("gokicollections/index/gold.png") repeat center center / 500px 300px;

					.gokiname {
						margin: 0;
						text-align: center;
						font-size: 21px;
						font-familiy: "Homemade Apple", cursive;
						background-color: brown;
					}

					.gokidesc {
						text-align: center;
						padding: 10px;
						font-familiy: "Homemade Apple", cursive;
						font-size: 17px;
						margin: 0;
					}
				}
			}
		}


		.newgoki_form {
			height: 100%;
			width: 100%;
			background: image_url("gokicollections/new/maintex.png") repeat center center / 300px 200px;

			//form tag's class is automatically setted as this
			.ftableform {
				height: 60%;
			}
			.formtable {
				width: 100%;
				height: 100%;

				input,textarea {
					width: 85%;
					height: 70%;
				}

				select {
					font-size: 30px;
					width: 85%;
					height: 70%;
				}

				input {
					font-size: 30px;
				}

				th {
					width: 20.4%;
				}
			}

			.genretable {
				width: 100%;
				height: 40%;
			}

			table {
				font-size: 40px;
				color: black;
				-webkit-text-stroke-width: 1px;
				-webkit-text-stroke-color: purple;
				font-family: "Homemade Apple", cursive;
				text-shadow: 10px 20px 30px purple;

				th {
					background: image_url("gokicollections/new/wood.png") repeat center center / 300px 200px;
					border: solid 1px black;
				}
				td {
					background: image_url("gokicollections/new/wood.png") repeat center center / 300px 200px;
					font-weight: bolder;
					border: solid 1px black;
				}
			}
		}

	}


	
	#indexfooter{
		height: 15%;
	}
	footer {
		height: 12%;
		width: 100%;
		background: image_url("maingokis/index/footer/footerimg.png") repeat center center / 200px 200px;

		.editbar {
			display: flex;
			flex-wrap: wrap;

			#deletebutton {
				width: 107px;
				height: 107px;
			}

			#battlebutton {
				margin-left: auto;
				margin-right: 10px;
			}
		}
	}
}
